In [1]:
import pandas as pd
import sqlite3

#read webscrapping data
df_atm = pd.read_csv('/Users/dunghoang/GitHub/SupplyChain/Development_steps/csv_files/atm.csv')
df_company_details = pd.read_csv('/Users/dunghoang/GitHub/SupplyChain/Development_steps/csv_files/company_details.csv')
df_reviews = pd.read_csv('/Users/dunghoang/GitHub/SupplyChain/Development_steps/csv_files/reviews.csv')

# Connect to the SQLite database or create a new one
conn = sqlite3.connect('PostgreSQL 15')

# Create a cursor object to interact with the database
cursor = conn.cursor()

In [2]:
# ATM TABLE
#create atm table
create_table_atm = '''
CREATE TABLE IF NOT EXISTS atm (
    company_id INTEGER,
    company_name TEXT,
    trustscore INTEGER,
    total_reviews INTEGER,
    domain TEXT
)
'''
cursor.execute(create_table_atm)

# Insert data into the table using pandas DataFrame
df_atm.to_sql('atm', conn, if_exists='append', index=False)

# Commit the changes to the database
conn.commit()

# Read the table into a pandas DataFrame
df_preview = pd.read_sql_query('SELECT * FROM atm', conn)

# Display the DataFrame
print(df_preview)

    company_id                          company_name  trustscore  \
0          110                Evergreen Credit Union         4.9
1          111            Liberty First Credit Union         4.8
2          112                    Crypto Dispensers          2.3
3          113                               Swadesh         4.4
4          114  Heritage Valley Federal Credit Union         4.1
..         ...                                   ...         ...
85        1114                          Cash Express         2.8
86        1115                       Asic Miners Rig         2.3
87        1116                         Asicminertech         2.2
88        1117                            Coin Cloud         1.9
89        1118                              PNC Bank         1.3

    total_reviews                                             domain
0             227             ATM·Credit Union·Financial Institution
1             204  ATM·Mortgage Lender·Financial Institution·Car ...
2             131  ATM·Investment Service·Non-Bank Financial Serv...
3              11  Money Transfer Service·Financial Institution·A...
4              11  ATM·Bank·Federal Credit Union·Financial Instit...
..            ...                                                ...
85             12  Check Cashing Service·ATM·Alternative Financia...
86              6  Money Order Service·Money Transfer Service·ATM...
87             28  Coin Dealer·Cryptocurrency Service·ATM·Mining ...
88            112  ATM·Cryptocurrency Service·Non-Bank Financial ...
89            888                                           Bank·ATM

[90 rows x 5 columns]

In [3]:
# COMPANY_DETAILS TABLE

#create company_details table
create_table_company_details = '''
CREATE TABLE IF NOT EXISTS company_details (
    company_name TEXT,
    rating_class INT,
    star_5 TEXT,
    star_4 TEXT,
    star_3 TEXT,
    star_2 TEXT,
    star_1 TEXT,
    'total_reviews' INT
)
'''
cursor.execute(create_table_company_details)

# Insert data into the table using pandas DataFrame
df_company_details.to_sql('company_details', conn, if_exists='append', index=False)

# Commit the changes to the database
conn.commit()

# Read the table into a pandas DataFrame
df_preview = pd.read_sql_query('SELECT * FROM company_details', conn)

# Display the DataFrame
print(df_preview)

                                      company_name rating_class star_5 star_4  \
0             Heritage Valley Federal Credit Union        Great    82%     0%
1                                         ASDFTEST      Average   100%     0%
2                              Coinhub Bitcoin ATM      Average     0%     0%
3   WPC Merchant Services & Credit Card Processing      Average   100%     0%
4                                     Cash Express      Average    25%    17%
..                                             ...          ...    ...    ...
67            Heritage Valley Federal Credit Union        Great    82%     0%
68                                      Coin Cloud         Poor    13%     4%
69                                    Cash Express      Average    25%    17%
70                                        PNC Bank          Bad     5%     1%
71                                         Swadesh    Excellent   100%     0%

   star_3 star_2 star_1 total_reviews
0      9%     9%     0%           11
1      0%     0%     0%            1
2      0%     0%   100%            2
3      0%     0%     0%            1
4      8%     8%    42%           12
..    ...    ...    ...           ...
67     9%     9%     0%           11
68     5%    12%    66%          112
69     8%     8%    42%           12
70     2%     4%    88%          888
71     0%     0%     0%           11

[72 rows x 8 columns]

In [4]:
# REVEWS TABLE

#create reviews table
create_table_reviews = '''
CREATE TABLE IF NOT EXISTS reviews (
    company_name TEXT,
    review_star TEXT,
    review_title TEXT,
    reviewer_name TEXT,
    review_text TEXT,
    experience_date TEXT,
    review_date DATE,
    reply_date TEXT,
    reply_text TEXT
)
'''
cursor.execute(create_table_reviews)

# Insert data into the table using pandas DataFrame
df_reviews.to_sql('reviews', conn, if_exists='append', index=False)

# Commit the changes to the database
conn.commit()

# Read the table into a pandas DataFrame
df_preview = pd.read_sql_query('SELECT * FROM reviews', conn)

# Display the DataFrame
print(df_preview)

     company_name review_star                             review_title  \
0         Swadesh  5 out of 5               International transactions
1         Swadesh  5 out of 5  Swadesh is a good app safely and truly…
2         Swadesh  5 out of 5                                  Because
3         Swadesh  5 out of 5                    Cross border payments
4         Swadesh  5 out of 5                            Cool Benefits
...           ...         ...                                      ...
7017      Swadesh  5 out of 5                        Banking in the US
7018      Swadesh  5 out of 5               Made for Indians in the US
7019      Swadesh  5 out of 5                              Easy to use
7020      Swadesh  5 out of 5             Working experience is 4years
7021      Swadesh  5 out of 5                           Swadeshi Feels

                  reviewer_name  \
0                      Eric Low
1                  Hamza masood
2               Abdulaziz Aliye
3     Nagaraju Doddasomanahalli
4              Vignesh N Shetty
...                         ...
7017                   Roopa DN
7018              Hemanth Gowda
7019        Sumukha Sundareshan
7020          Singhmahesh Nayak
7021              Suhas Sharade

                                            review_text    experience_date  \
0     Very easy to do cross border transactions - th...      July 05, 2023
1     Swadesh is a good app safely and truly app thi...      July 16, 2023
2                               I'm poor people help me    August 10, 2023
3     Transferred regular amounts from US to India f...  November 09, 2022
4     Just downloaded the app to manage my expenses ...  December 09, 2022
...                                                 ...                ...
7017  Day to day transactions were much easier to ma...  November 22, 2022
7018  Best app for managing finances for students/ p...   January 01, 2023
7019  Easy to use. Got a free sim card along woth Sw...   January 02, 2023
7020                                               None      July 13, 2023
7021                              Easy UI. Very helpful  November 01, 2022

     review_date reply_date reply_text
0     2023-07-25       None       None
1     2023-07-18       None       None
2     2023-08-12       None       None
3     2023-01-05       None       None
4     2023-01-06       None       None
...          ...        ...        ...
7017  2023-01-05       None       None
7018  2023-01-05       None       None
7019  2023-01-05       None       None
7020  2023-07-13       None       None
7021  2023-01-05       None       None

[7022 rows x 9 columns]

In [5]:
# JOIN INTO COMPANIES_WITHID TABLE

#create reviews table
create_table_atmcompanies_withids= '''
CREATE TABLE IF NOT EXISTS atmcompanies_withid (
    company_id INTEGER PRIMARY KEY,
    company_name TEXT,
    trustscore INTEGER,
    total_reviews INTEGER,
    domain TEXT,
    rating_class INTEGER,
    star_5 TEXT,
    star_4 TEXT,
    star_3 TEXT,
    star_2 TEXT,
    star_1 TEXT
)
'''
conn.execute(create_table_atmcompanies_withids)
cursor.execute(create_table_atmcompanies_withids)

# SQL code for the INSERT operation
insert_sql = '''
INSERT INTO atmcompanies_withid (company_id, company_name, trustscore, total_reviews, domain, rating_class, star_5, star_4, star_3, star_2, star_1)
SELECT
    atm.company_id,
    atm.company_name,
    atm.trustscore,
    atm.total_reviews,
    atm.domain,
    cd.rating_class,
    cd.star_5,
    cd.star_4,
    cd.star_3,
    cd.star_2,
    cd.star_1
FROM atm AS atm
INNER JOIN company_details AS cd ON atm.company_name = cd.company_name
'''

# Commit the changes to the database
conn.commit()

# Read the table into a pandas DataFrame
df_preview = pd.read_sql_query('SELECT * FROM atmcompanies_withid', conn)

# Display the DataFrame
print(df_preview)

# Export the DataFrame to a CSV file
#df_preview.to_csv('atmcompanies_withid.csv', index=False)

#print("CSV file exported successfully.")

Empty DataFrame
Columns: [company_id, company_name, trustscore, total_reviews, domain, rating_class, star_5, star_4, star_3, star_2, star_1]
Index: []

In [6]:
# GENERATE REVIEW IDS

# Generate review IDs using pandas DataFrame method
df_reviews_withid = df_reviews.reset_index().rename(columns={'index': 'review_id'})

print(df_reviews_withid)

      review_id         company_name review_star  \
0             0  Coinhub Bitcoin ATM  1 out of 5
1             1  Coinhub Bitcoin ATM  1 out of 5
2             2    cryptobaseatm.com  1 out of 5
3             3    cryptobaseatm.com  1 out of 5
4             4    cryptobaseatm.com  5 out of 5
...         ...                  ...         ...
1701       1701              Swadesh  5 out of 5
1702       1702              Swadesh  5 out of 5
1703       1703              Swadesh  5 out of 5
1704       1704              Swadesh  5 out of 5
1705       1705              Swadesh  5 out of 5

                                 review_title          reviewer_name  \
0            25% fees not documented anywhere             Don Buford
1     This daniel hayslip Becky station Beth…         Daniel Hayslip
2      Dwight welding is a bitchhhh asss rep…  Dwight welding pussie
3                                   Warning!!         Cindy Sunshine
4           I have been using Cryptobase ATM…         Finlay Stewart
...                                       ...                    ...
1701                        Banking in the US               Roopa DN
1702               Made for Indians in the US          Hemanth Gowda
1703                              Easy to use    Sumukha Sundareshan
1704             Working experience is 4years      Singhmahesh Nayak
1705                           Swadeshi Feels          Suhas Sharade

                                            review_text    experience_date  \
0     25% fees not documented anywhere.  Avoid at AL...      July 09, 2023
1     This daniel hayslip Becky station Beth Jordon ...    August 13, 2022
2     Dwight welding is a bitchhhh asss rep who coul...      June 08, 2023
3     Warning!!! y'all need to be careful,, i sent b...   January 05, 2023
4     I have been using Cryptobase ATM machines for ...      July 31, 2022
...                                                 ...                ...
1701  Day to day transactions were much easier to ma...  November 22, 2022
1702  Best app for managing finances for students/ p...   January 01, 2023
1703  Easy to use. Got a free sim card along woth Sw...   January 02, 2023
1704                                                NaN      July 13, 2023
1705                              Easy UI. Very helpful  November 01, 2022

     review_date reply_date reply_text
0     2023-07-10        NaN        NaN
1     2022-08-13        NaN        NaN
2     2023-06-08        NaN        NaN
3     2023-03-08        NaN        NaN
4     2022-07-31        NaN        NaN
...          ...        ...        ...
1701  2023-01-05        NaN        NaN
1702  2023-01-05        NaN        NaN
1703  2023-01-05        NaN        NaN
1704  2023-07-13        NaN        NaN
1705  2023-01-05        NaN        NaN

[1706 rows x 10 columns]

In [7]:
import pandas as pd
import sqlite3

# Connect to the SQLite database or use the existing connection
conn = sqlite3.connect('PostgreSQL 15')

# Read the 'reviews_withid' and 'atmcompanies_withid' tables into pandas DataFrames
df_reviews_withid = pd.read_sql_query('SELECT * FROM reviews_withid', conn)
df_atmcompanies_withid = pd.read_sql_query('SELECT * FROM atmcompanies_withid', conn)

# Check if the DataFrames are loaded correctly
print("reviews_withid DataFrame:")
print(df_reviews_withid)

print("\natmcompanies_withid DataFrame:")
print(df_atmcompanies_withid)

# Close the connection
conn.close()

reviews_withid DataFrame:
      review_id company_name review_star  \
0             0      Swadesh  5 out of 5
1             1      Swadesh  5 out of 5
2             2      Swadesh  5 out of 5
3             3      Swadesh  5 out of 5
4             4      Swadesh  5 out of 5
...         ...          ...         ...
1767       1767      Swadesh  5 out of 5
1768       1768      Swadesh  5 out of 5
1769       1769      Swadesh  5 out of 5
1770       1770      Swadesh  5 out of 5
1771       1771      Swadesh  5 out of 5

                                 review_title              reviewer_name  \
0                  International transactions                   Eric Low
1     Swadesh is a good app safely and truly…               Hamza masood
2                                     Because            Abdulaziz Aliye
3                       Cross border payments  Nagaraju Doddasomanahalli
4                               Cool Benefits           Vignesh N Shetty
...                                       ...                        ...
1767                        Banking in the US                   Roopa DN
1768               Made for Indians in the US              Hemanth Gowda
1769                              Easy to use        Sumukha Sundareshan
1770             Working experience is 4years          Singhmahesh Nayak
1771                           Swadeshi Feels              Suhas Sharade

                                            review_text    experience_date  \
0     Very easy to do cross border transactions - th...      July 05, 2023
1     Swadesh is a good app safely and truly app thi...      July 16, 2023
2                               I'm poor people help me    August 10, 2023
3     Transferred regular amounts from US to India f...  November 09, 2022
4     Just downloaded the app to manage my expenses ...  December 09, 2022
...                                                 ...                ...
1767  Day to day transactions were much easier to ma...  November 22, 2022
1768  Best app for managing finances for students/ p...   January 01, 2023
1769  Easy to use. Got a free sim card along woth Sw...   January 02, 2023
1770                                               None      July 13, 2023
1771                              Easy UI. Very helpful  November 01, 2022

     review_date reply_date reply_text
0     2023-07-25       None       None
1     2023-07-18       None       None
2     2023-08-12       None       None
3     2023-01-05       None       None
4     2023-01-06       None       None
...          ...        ...        ...
1767  2023-01-05       None       None
1768  2023-01-05       None       None
1769  2023-01-05       None       None
1770  2023-07-13       None       None
1771  2023-01-05       None       None

[1772 rows x 10 columns]

atmcompanies_withid DataFrame:
Empty DataFrame
Columns: [company_id, company_name, trustscore, total_reviews, domain, rating_class, star_5, star_4, star_3, star_2, star_1]
Index: []

In [8]:
#CREATE TABLE WITH REVIEW IDS

# Create the 'reviews_withid' table
create_table_reviews_withid = '''
CREATE TABLE IF NOT EXISTS reviews_withid (
    review_id INTEGER PRIMARY KEY,
    company_name TEXT,
    review_star TEXT,
    review_title TEXT,
    reviewer_name TEXT,
    review_text TEXT,
    experience_date TEXT,
    review_date DATE,
    reply_date TEXT,
    reply_text TEXT
)
'''
conn.execute(create_table_reviews_withid)

# Insert data into the 'reviews_withid' table using pandas DataFrame
df_reviews_withid.to_sql('reviews_withid', conn, if_exists='replace', index=False)

# Commit the changes to the database
conn.commit()

# Read the 'reviews_withid' table into a pandas DataFrame
df_preview_reviews_withid = pd.read_sql_query('SELECT * FROM reviews_withid', conn)

# write to new csv file: 
df_preview_reviews_withid.to_csv('/Users/dunghoang/GitHub/SupplyChain/csv_files/reviews_withallids.csv', index=False)
# Display the DataFrame
print(df_preview_reviews_withid)

ProgrammingError: Cannot operate on a closed database.

In [ ]:

#CREATE TABLE WITH REVIEW AND JOIN COMPANY IDS
# Create the 'reviews_withallids' table

create_table_reviews_withallids = '''
CREATE TABLE IF NOT EXISTS reviews_withallids (
    review_id INTEGER PRIMARY KEY,
    company_id INT, 
    company_name TEXT,
    review_star TEXT,
    review_title TEXT,
    reviewer_name TEXT,
    review_text TEXT,
    experience_date TEXT,
    review_date DATE,
    reply_date TEXT,
    reply_text TEXT
)
'''

cursor.execute(create_table_reviews_withallids)
conn.commit()

# SQL code for the INSERT operation
insert_into_review_sql = '''
INSERT INTO reviews_withallids (review_id, company_id, company_name, review_star, review_title, reviewer_name, review_text, experience_date, review_date, reply_date, reply_text)
SELECT
    r.review_id,
    a.company_id,
    r.company_name,
    r.review_star,
    r.review_title,
    r.reviewer_name,
    r.review_text,
    r.experience_date,
    r.review_date,
    r.reply_date,
    r.reply_text
FROM reviews_withid AS r
JOIN atmcompanies_withid AS a ON r.company_name = a.company_name
'''

cursor.execute(insert_into_review_sql)
conn.commit()

In [ ]:
# READ AND PRINT THE TABLE REVIEWS WITH ALL IDS

# Read the 'reviews_withid' table into a pandas DataFrame
df_preview_reviews_withallids = pd.read_sql_query('SELECT * FROM reviews_withallids', conn)

# Display the DataFrame
print(df_preview_reviews_withallids)

# Export the DataFrame to a CSV file
df_preview_reviews_withallids.to_csv('reviews_withallids.csv', index=False)

print("CSV file exported successfully.")

DatabaseError: Execution failed on sql 'SELECT * FROM reviews_withallids': no such table: reviews_withallids